@model List<RookieEShop.Shared.CartVm>

@section Styles {
	<link rel="stylesheet" href="~/css/checkouttstyle.css" />
}

@{
	ViewData["Title"] = "Checkout Page";
	decimal total = 0;
}

<div class="container">
	<div class="title">
		<h2>Product Order Form</h2>
	</div>
	<div class="d-flex">
		<form action="" method="post">
			<label>
				<span class="fname">First Name <span class="required">*</span></span>
				<input type="text" name="fname">
			</label>
			<label>
				<span class="lname">Last Name <span class="required">*</span></span>
				<input type="text" name="lname">
			</label>
			<label>
				<span>Town / City <span class="required">*</span></span>
				<input type="text" name="city" required>
			</label>
			<label>
				<span>State / County <span class="required">*</span></span>
				<input type="text" name="city" required>
			</label>
			<label>
				<span>Street Address <span class="required">*</span></span>
				<input type="text" name="houseadd" placeholder="House number and street name" required>
			</label>
			<label>
				<span>Phone <span class="required">*</span></span>
				<input type="tel" name="city" required>
			</label>
			<label>
				<span>Email Address <span class="required">*</span></span>
				<input type="email" name="city" required>
			</label>
		</form>

		<div class="Yorder">
			<table>
				<tr>
					<th colspan="2">Your order</th>
				</tr>
				@foreach (var cartitem in Model)
				{
					var thanhtien = cartitem.Quantity * cartitem.Price;
					total += thanhtien;

					<tr>
						<td>@(cartitem.ProductName) x @(cartitem.Quantity)</td>
						<td>@(thanhtien.ToString("n0")) VND</td>
					</tr>
				}
				<tr>
					<td>Total</td>
					<td>@total.ToString("n0") VND</td>
				</tr>

				<tr>
					<td>Shipping</td>
					<td>Free shipping</td>
				</tr>

			</table><br>
			<div>
				<input type="radio" name="dbt" value="dbt" checked> Direct Bank Transfer
			</div>
			<p>
				Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
			</p>
			<div>
				<input type="radio" name="dbt" value="cd"> Cash on Delivery
			</div>
			<div>
				<input type="radio" name="dbt" value="cd"> Paypal <span>
					<img src="https://www.logolynx.com/images/logolynx/c3/c36093ca9fb6c250f74d319550acac4d.jpeg" alt="" width="50">
				</span>
			</div>
			<button type="button">Place Order</button>
		</div><!-- Yorder -->
	</div>
</div>