@model List<RookieEShop.Shared.CartVm>

@section Styles {
	<link rel="stylesheet" href="~/css/checkouttstyle.css" />
}

@{
	ViewData["Title"] = "Ordering Page";
}

<div class="container">
	<div class="title">
		<h2>Product Order Form</h2>
	</div>
	<div class=" radio">
		<label>
			<input type="radio" name="ShippingAddressId" checked=""/>
		</label>
	</div>
	<div class="d-flex collapse">
		@using (Html.BeginForm("Checkout", "Cart", FormMethod.Post))
		{
			<label>
				<span class="fname">First Name <span class="required">*</span></span>
				<input type="text" name="fname">
			</label>
			<label>
				<span class="lname">Last Name <span class="required">*</span></span>
				<input type="text" name="lname">
			</label>
			<label>
				<span>Town / City <span class="required">*</span></span>
				<input type="text" name="city" required>
			</label>
			<label>
				<span>State / County <span class="required">*</span></span>
				<input type="text" name="state" required>
			</label>
			<label>
				<span>Street Address <span class="required">*</span></span>
				<input type="text" name="houseadd" placeholder="House number and street name" required>
			</label>
			<label>
				<span>Phone <span class="required">*</span></span>
				<input type="text" name="phone" required>
			</label>
			<label>
				<span>Email Address <span class="required">*</span></span>
				<input type="text" name="email" required>
			</label>
			<button type="submit" class="btn btn-danger float-left">Finish the order</button>
		}

		<div class="Yorder">
			@await Component.InvokeAsync("OrderSummary")
		</div><!-- Yorder -->
	</div>
</div>