@model IList<RookieEShop.Shared.CategoryVm>


@foreach (var category in Model)
{
	<li class="nav-item">
		<a class="nav-link text-dark" asp-controller="Category" asp-action="Index" asp-route-id="@category.Id">@category.Name</a>
	</li>
}
