@section Styles {
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
	<link rel="stylesheet" href="~/css/Tracking.css" />
}

<div class="contain">
	<div class="tracking-layout">
		<div class="tracking-layout-inner">
			<div class="order-heading">
				<h3>Theo dõi đơn hàng #247279080</h3>
				<a asp-action="History" asp-controller="Order" class="view-detail">View this order</a>
			</div>
			<div class="card">
				<div class="row d-flex justify-content-center">
					<div class="col-12">
						<ul id="progressbar" class="text-center">
							<li class="step0 active"></li>
							<li class="step0 active"></li>
							<li class="step0 active"></li>
							<li class="step0 active"></li>
						</ul>
					</div>
				</div>
				<div class="content">
					<div class="content-img">
						<img src="~/image/Tracking/9nnc9Et.png" alt="Processed Icon" class="icon">
						<p class="content-title">Order<br>Processed</p>
					</div>
					<div class="content-img">
						<img src="~/image/Tracking/u1AzR7w.png" alt="" class="icon">
						<p class="content-title">Order<br>Shipped</p>
					</div>
					<div class="content-img">
						<img src="~/image/Tracking/TkPm63y.png" alt="" class="icon">
						<p class="content-title">Order<br>En Route</p>
					</div>
					<div class="content-img">
						<img src="~/image/Tracking/HdsziHP.png" alt="" class="icon">
						<p class="content-title">Order<br>Arrived</p>
					</div>
				</div>
			</div>
			<div class="order-info">
				<div class="order-status">
					<div class="order-status-heading">
						Tracking detail: <span class="delivery-text"> Successful </span>
					</div>
					<div class="order-status-progress">
						<div class="progress-step active">
							<div class="step-bar">
								<span class="step-bar-circle"></span>
								<span class="step-bar-line"></span>
							</div>
							<div class="step-info">
								<div class="step-info-status-text">Giao hàng thành công</div>
								<div class="step-info-substate-text"></div>
								<div class="step-info-hint"></div>
								<div class="step-info-time">15:52, Thứ tư 09-06-2021</div>
								<div class="step-info-divider"></div>
							</div>
						</div>
						<div class="progress-step">
							<div class="step-bar">
								<span class="step-bar-circle"></span>
								<span class="step-bar-line"></span>
							</div>
							<div class="step-info">
								<div class="step-info-status-text">Đang vận chuyển</div>
								<div class="step-info-substate-text">TED đang vận chuyển</div>
								<div class="step-info-hint"></div>
								<div class="step-info-time">13:27, Thứ tư 09-06-2021</div>
								<div class="step-info-divider"></div>
							</div>
						</div>
						<div class="progress-step">
							<div class="step-bar">
								<span class="step-bar-circle"></span>
								<span class="step-bar-line"></span>
							</div>
							<div class="step-info">
								<div class="step-info-status-text">Giao hàng thành công</div>
								<div class="step-info-substate-text"></div>
								<div class="step-info-hint"></div>
								<div class="step-info-time">15:52, Thứ tư 09-06-2021</div>
								<div class="step-info-divider"></div>
							</div>
						</div>
						<div class="progress-step first">
							<div class="step-bar">
								<span class="step-bar-circle"></span>
								<span class="step-bar-line"></span>
							</div>
							<div class="step-info">
								<div class="step-info-status-text">Giao hàng thành công</div>
								<div class="step-info-substate-text">TED đang vận chuyển</div>
								<div class="step-info-hint"></div>
								<div class="step-info-time">15:52, Thứ tư 09-06-2021</div>
								<div class="step-info-divider"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="order-items">
					<p class="item-list-title">Package including:</p>
					<div class="items">
						<div class="item">
							<div class="image"
								 style="background-image: url(https://salt.tikicdn.com/cache/200x200/ts/product/1b/3f/9f/f240b369353d46803770c2887027ab4c.jpg)">
								<span class="qty">
									x
									1
								</span>
							</div>
							<div class="info">
								<a href="#" class="name">
									Tai Nghe Có Dây Nhét Tai Sennheiser CX 80S - Hàng Chính
									Hãng
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>