<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - RookieEShop</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	@RenderSection("Styles", false);
</head>
<body>
	<div class="siteHeader">
		<header>
			<div class="siteHeader-top">
				<div class="siteHeader-content">
					<a href="/" class="siteHeader-logo" aria-label="RookieEShop Home"
					   title="RookieEShopHome">RookieEShop</a>
					<div class="searchBox searchBox-navBar">
						<form autocomplete="off" action="/search" class="searchBox-form" role="search"
							  aria-label="Search for books to add to your shelves">
							<input type="text" class="searchBox-input seachBox_input-navBar" placeholder="Search Books"
								   aria-label="Search books" aria-controls="searchResults">
							<input type="hidden" name="qid">
							<button type="submit" class="searchBox-icon-search searchBox-icon gr-iconButton"
									aria-label="Search"></button>
						</form>
					</div>
					<partial name="_LoginPartial" />
					<!-- Head bar with logged in-->
				</div>
			</div>
			<div class="menu-nav">
				<div class="dropdown">
					<button class="dropdown-btn">
						<p class="dropdown-title">Nation</p>
						<span>
							<img src="~/image/Home-page/dropdown.svg" alt="dropdown">
						</span>
					</button>
					<div class="dropdown-content">
						@await Component.InvokeAsync("CategoryMenu")
					</div>
				</div>
			</div>
		</header>
	</div>
	<div class="container">
		@RenderBody()
	</div>

	<footer class="mainfooter" role="contentinfo">
		<div class="footer-middle">
			<div class="container">
				<div class="row footer-row">
					<div class="col-md-3 col-sm-6">
						<!--Column1-->
						<div class="footer-pad">
							<h4>Heading 1</h4>
							<ul class="list-unstyled">
								<li><a href="#"></a></li>
								<li><a href="#">Payment Center</a></li>
								<li><a href="#">Contact Directory</a></li>
								<li><a href="#">Forms</a></li>
								<li><a href="#">News and Updates</a></li>
								<li><a href="#">FAQs</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!--Column1-->
						<div class="footer-pad">
							<h4>Heading 2</h4>
							<ul class="list-unstyled">
								<li><a href="#">Website Tutorial</a></li>
								<li><a href="#">Accessibility</a></li>
								<li><a href="#">Disclaimer</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">FAQs</a></li>
								<li><a href="#">Webmaster</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!--Column1-->
						<div class="footer-pad">
							<h4>Heading 3</h4>
							<ul class="list-unstyled">
								<li><a href="#">Parks and Recreation</a></li>
								<li><a href="#">Public Works</a></li>
								<li><a href="#">Police Department</a></li>
								<li><a href="#">Fire</a></li>
								<li><a href="#">Mayor and City Council</a></li>
								<li>
									<a href="#"></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<h4>Follow Us</h4>
						<ul class="social-network social-circle">
							<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="row footer-row">
					<div class="col-md-12 copy">
						<p class="text-center">&copy; Copyright 2021 - RookieEshop. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
