@if (User.Identity.IsAuthenticated)
{
	<span class="dropdown-item">Hello <a class="text-dark" asp-controller="Account" asp-action="MyProfile"> @User.Identity.Name</a></span>
	<a class="dropdown-item" asp-controller="Order" asp-action="History">History</a>
	<a class="dropdown-item" asp-controller="Account" asp-action="SignOut">Sign out</a>
}
else
{
	<a class="dropdown-item" asp-controller="Account" asp-action="SignIn">Sign in</a>
}