
@model IList<RookieEShop.Shared.ProductVm>

@*@{ var backendUrl = Configuration.GetServiceUri("backend"); }*@

@{ ViewData["Title"] = "Home Page"; }

<div class="row mt-4">
	@foreach (var product in Model)
	{
		<div class="col-md-4">
			<div class="card mb-4 shadow-sm">
				<img class="bd-placeholder-img card-img-top" src="https://localhost:5001/@product.ThumbnailImageUrl" />
				<div class="card-body">
					<h3 class="card-text">@product.Name</h3>
					<p class="card-text">@product.Price VND</p>
					<p class="card-text">@product.Description</p>
				</div>
			</div>
		</div>}
</div>
