@model IList<RookieEShop.Shared.ProductVm>

@{ ViewData["Title"] = "Home Page"; }

<div class="row mt-4">
	@foreach (var product in Model)
	{
		<div class="col-md-4">
			<div class="card mb-4 shadow-sm">
				<a class="nav-link text-dark" href="~/Product/ProductDetail?productId=@product.Id">
					<img class="bd-placeholder-img card-img-top" src="https://backend-ndhoang123.azurewebsites.net/@product.ThumbnailImageUrl" />
					<div class="card-body">
						<h3 class="card-text">@product.Name</h3>
						<p class="card-text"><strong>Price:</strong> @product.Price VND</p>
					</div>
				</a>
			</div>
		</div>}
</div>
