@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	background: #f6f6f6;
}

label, table {
	display: block;
	margin: 15px;
}

	label > span {
		float: left;
		width: 25%;
		margin-top: 12px;
		padding-right: 10px;
	}

input[type="text"], input[type="tel"], input[type="email"], select {
	width: 70%;
	height: 30px;
	padding: 5px 10px;
	margin-bottom: 10px;
	border: 1px solid #dadada;
	color: #888;
}

select {
	width: 72%;
	height: 45px;
	padding: 5px 10px;
	margin-bottom: 10px;
}


table {
	margin: 0;
	padding: 0;
}

th {
	border-bottom: 1px solid #dadada;
	padding: 10px 0;
}

tr > td:nth-child(1) {
	text-align: left;
	color: #2d2d2a;
}

tr > td:nth-child(2) {
	text-align: right;
	color: #52ad9c;
}

td {
	border-bottom: 1px solid #dadada;
	padding: 25px 25px 25px 0;
}

p {
	display: block;
	color: #888;
	margin: 0;
	padding-left: 25px;
}

button {
	width: 30%;
	margin-top: 10px;
	padding: 10px;
	border: none;
	border-radius: 30px;
	background: #52ad9c;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

	button:hover {
		cursor: pointer;
		background: #428a7d;
	}
