@import url('https://fonts.googleapis.com/css?family=Roboto+Helvetica+Arial&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
}

body{
    background-color: #efefef;
    font-family: "Roboto Helvetica Arial", "sans-serif";
    font-size: 14px;
    line-height: 1.15;
    text-size-adjust: 100%;
}

.bottom{
    font-size: 13px;
    color: rgb(36, 36, 36);
    line-height: 1.5;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading{
    font-size: 19px;
    font-weight: 300;
    margin: 20px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.heading .status{
    font-weight: bolder;
}

.heading .split{
    margin: 0px 5px;
}

.create-date{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.information{
    display: flex;
    margin: 10px 0px 20px;
    line-height: 1.5;
}

.information > div:first-child{
    margin-left: 0px;
}

.information > div{
    width: 33.3333%;
    margin: 0px 5px;
}

.col {
    margin: 10px 0px 20px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.65);
}

.col .title{
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px 0px 15px;
    color: rgb(36, 36, 36);
}

.col .content{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    height: 100%;
}
.col .name{
    text-transform: uppercase;
}

.information .name{
    color: rgb(36, 36, 36);
    font-weight: bold;
}

.information p{
    margin: 5px 0px 0px;
}

.tbl{
    width: 100%;
    color: rgb(66, 66, 66);
    display: table;
    font-size: 13px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    border-collapse: collapse;
    border-spacing: 0px;
    line-height: 1.5;
    word-break: break-word;
}

.tbl thead{
    display: table-header-group;
}

.tbl thead tr th:first-child{
    border-left: none;
}

.tbl thead tr th:last-child{
    text-align: right;
    min-width: 160px;
}

.tbl thead tr th{
    display: table-cell;
    padding: 20px 15px;
    border-top: none;
    min-width: 100px;
    position: relative;
    background: 0px 0px;
    color: rgb(120, 120, 120);
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid rgb(244, 244, 244);
    text-align: left;
}

.tbl tr{
    display: table-row;
    padding: 10px;
}

.tbl tbody{
    display: table-row-group;
}

.tbl tbody tr:first-child{
    border-top: none;
}

.tbl tbody tr{
    border-bottom: 1px solid rgb(244, 244, 244);
}

.tbl tbody tr td{
    border: none;
    position: relative;
    display: table-cell;
    padding: 20px 15px;
    color: rgb(36, 36, 36);
    vertical-align: top;
    min-width: 100px;
}

.tbl tbody tr td:first-child{
    border-top: none;
    border-left: none;
}

.tbl tbody tr td:last-child{
    text-align: right;
    min-width: 160px;
}

.tbl tbody tr td .product-item{
    display: flex;
}

.tbl tbody tr td .product-item img{
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.tbl tbody tr td .product-item .product-info .product-name{
    font-size: 14px;
    color: rgb(36, 36, 36);
}

.tbl tbody tr td.price{
    white-space: nowrap;
}

.tbl tbody tr td:last-child{
    text-align: right;
    min-width: 160px;
}

.tbl tfoot{
    display: table-row-group;
}

.tbl tfoot tr{
    border-top: none;
}

.tbl tfoot tr td{
    text-align: right;
    display: table-cell;
    padding: 5px 20px;
    max-width: 550px;
    min-width: 125px;
    color: rgb(36, 36, 36);
}

.tbl tfoot tr td span{
    color: rgb(120, 120, 120);
    font-size: 14px;
}

.tbl tfoot tr:first-child td{
    padding-top: 30px;
}

.tbl tfoot tr td:first-child{
    border-top: none;
}

.tbl tfoot tr:last-child td{
    padding-top: 30px;
}

.tbl tfoot tr td .sum{
    color: rgb(255, 59, 39);
    font-size: 18px;
}

a{
    text-decoration: none;
    background-color: transparent;
}

.btn{
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.42857;
    padding: 9px 12px;
}

#btn2{
    float: right;
    width: 225px;
    margin-right: 10px;
}

#btn3{
    float: right;
    width: 225px;
}

#btn1{
    color: rgb(11, 116, 229);
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.42857;
    padding-top: 9px;
}